* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: lightgray; }
  body h3 {
    text-align: center;
    padding: 1rem;
    border: 1px solid wheat;
    box-shadow: 1px 1px 5px 1px black;
    margin-right: 30rem; }

div {
  background: linear-gradient(to left, #aaa, wheat);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem; }
  div li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 7px black;
    margin-top: 0.5rem; }
  div ul {
    list-style: none; }

table {
  width: 100%;
  height: 800px;
  margin: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse; }
  table td,
  table th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align: center; }
  table td {
    font-style: italic; }
  table tr:nth-child(even) {
    background: #bebebe; }
  table tr th {
    background: #eee1ca;
    border: 1px solid #aaa;
    text-align: center;
    border-top: none;
    border-bottom: 5px solid #aaa; }

@media only screen and (max-width: 600px) {
  body {
    width: 600px; }
  div {
    background: linear-gradient(black, gray);
    color: wheat;
    padding: 5rem; }
    div h3 {
      margin-right: 1rem; }
    div h3:hover {
      background-color: crimson; }
  th:hover {
    background-color: crimson;
    color: wheat;
    transform: scaleY(115%); }
  td:hover {
    color: crimson;
    transform: scaleY(150%); } }
