* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightgray;
  h3 {
    text-align: center;
    //sbackground: linear-gradient(to left, #aaa, wheat);
    padding: 1rem;
    border: 1px solid wheat;
    box-shadow: 1px 1px 5px 1px black;
    margin-right: 30rem;
  }
}
div {
  background: linear-gradient(to left, #aaa, wheat);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;

  li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 7px black;
    margin-top: 0.5rem;
  }
  ul {
    list-style: none;
  }
}

table {
  width: 100%;
  height: 800px;
  margin: auto;
  //background: linear-gradient(to left, #aaa, black 90deg);
  font-family: arial, sans-serif;
  border-collapse: collapse;

  td,
  th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  td {
    font-style: italic;
    //background-color: #ddd;
  }

  tr:nth-child(even) {
    background: rgb(190, 190, 190);
  }
  tr th {
    background: rgb(238, 225, 202);
    border: 1px solid #aaa;
    text-align: center;
    border-top: none;
    border-bottom: 5px solid #aaa;
  }
}

@media only screen and (max-width: 600px) {
  body {
    width: 600px;
  }
  div {
    background: linear-gradient(black, gray);
    color: wheat;
    padding: 5rem;
    h3 {
      margin-right: 1rem;
    }
    h3:hover {
      background-color: crimson;
    }
  }
  th:hover {
    background-color: crimson;
    color: wheat;
    transform: scaleY(115%);
  }
  td:hover {
    color: crimson;
    transform: scaleY(150%);
  }
}
